name: Publish to npm on Release

on:
    push:
        tags:
            - "v*.*.*"
    workflow_dispatch: # Allow manual triggering of the workflow

permissions:
    id-token: write # Required for OIDC
    contents: write # Required to push changes

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: "24"
                  registry-url: "https://registry.npmjs.org"
                  cache: "pnpm"

            - run: pnpm install --frozen-lockfile
            - run: pnpm run build
            - run: pnpm test --if-present
            
            - run: pnpm publish --no-git-checks
